
[class*="app-button--"]{
  background-color: $brand-primary;
  color: $gray-light;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  margin: 1em 0 1em 0;
  font-size: $font-size-base * 1.2;
  font-weight: $font-weight-base;
  height: 40px;
  min-width: 110px;
  transition: all .5s ease;
  border:none;

  .icon {
    vertical-align: middle;
    transition: transform .6s ease;
    -ms-transform: scale(.9); /* IE 9 */
    -webkit-transform: scale(.9); /* Safari */
    transform: scale(.9);
  }

  &:hover {
    background-color: $brand-primary-darker;
    color: $dirty-white;
    box-shadow: 0 14px 5px -10px rgba($black, 0.4);

    .icon {
      -ms-transform: scale(1); /* IE 9 */
      -webkit-transform: scale(1); /* Safari */
      transform: scale(1);
    }
  }

  &.no-text {
    background-color: inherit;
    padding: 10px;
    font-size: 1em;

  }

  &.white {
    color: $white;
  }
}
