
.container {
  .head-wrapper {
    display: flex;

    .buttons-wrapper {
      display: flex;

      .calendar-button {
        margin: 1em;
        padding: .8em;
        border: solid 1px $gray;
        background-color: $dirty-white;
        border-radius: .3em;

        &:hover {
          background-color: $brand-info;
          color: $dirty-white;
        }

        &-left {
          margin: 1em 0 1em 1em;
          border-radius: .3em 0 0 .3em;
          padding: .8em;
          border: solid 1px $gray;
          border-right: none;
          background-color: $dirty-white;

          &:hover {
            background-color: $brand-info;
            color: $dirty-white;
          }
        }

        &-right {
          border-radius: 0 .3em .3em 0;
          margin: 1em 1em 1em 0;
          padding: .8em;
          border: solid 1px $gray;
          background-color: $dirty-white;

          &:hover {
            background-color: $brand-info;
            color: $dirty-white;
          }
        }
      }
    }

    .current-month {
      display: flex;
      width: 100%;
      vertical-align: middle;
      padding-left: 2em;
      font-weight: $font-size-base * 2;

      p {
        line-height: 2em;
      }
    }
  }
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  > * {
    // margin: 10px;
  }
  &-item {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #ccc;
    display: flex;
    flex: 1 1 0%;
    min-height: 5em;
    // 7px is border width * 7 boxes
    min-width: calc((100% - 7px) /7);

    .month-day {
      position: absolute;
      top: 0;
      right: 1px;
      min-height: 20px;
    }

    .active-month {
      background-color: $grayish;
      height: 100%;
      width: 100%;

      &:hover {
        background-color: lighten( $gray-base, 50% );
      }
    }

    .inactive-month {
      background-color: lighten( $gray-base, 35% );
      height: 100%;
      width: 100%;
      cursor: not-allowed;
    }

    .date-booked {
      width: 100%;
      height: 1.2em;
      background-color: $brand-secondary;
      margin-top: 1em;
    }
  }

  .header-element {
    background-color: $brand-info;
    color: $dirty-white;
    padding: 5px 20px !important;
    align-items: center;
    justify-content: center;
    min-height: 30px;

    p {
      margin: 0;
      font-weight: $font-weight-base * 2;
      text-align: center;
    }
  }
}
