.calendar {

}


.container {
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  > * {
    // margin: 10px;
  }
  &-item {
    box-sizing: border-box;
    border: 2px solid #ccc;
    display: flex;
    flex: 1 1 0%;
    padding: 20px;
    min-width: calc((100% - 14px) /7);
    align-items: center;
    justify-content: center;
  }
}
