.details-form {

  .row {
    font-size: 0;
    width: 100%;

    .item {
      display: inline-block;
      font-size: 16px;
      width: 100%;

      md-select {
        width: 100%;
      }

      md-input-container {
        width: 100%;
      }

      &.half {
        width: 50%;


        &.one {
          md-select {
            margin: .5em 0;
            padding-right: .5em;
          }

          md-input-container {
            padding-right: .5em;
          }

        }
        &.two {
          md-select {
            margin: .5em 0;
            padding-left: .5em;
          }

          md-input-container {
            padding-left: .5em;
          }
        }
      }

    }
  }

}
