.dialog-wrapper {
  padding: 10px;
}

.heading {
  color: $brand-primary-darker;
  font-size: 1.3em;
  padding-bottom: 20px;
  font-weight: bold;
}

.message {
  font-size: 1em;
  padding-bottom: 20px;
}
