html {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: $dirty-white;
}

*, *:before, *:after {
    box-sizing: inherit;
}

md-sidenav-container {
  height: 100%;
}
