
.sidenav {
  background-color: $dirty-white !important;
  min-width: 215px !important;
}

.toolbar {
  background-color: $dirty-white;

  .toolbar_elements{
    color: $brand-primary;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 15px;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    height: 40px;
    transition: all .5s ease;

    &:hover {
      background-color: $brand-primary;
      color: $dirty-white;
      box-shadow: 0 14px 5px -10px rgba($black, 0.4);
      transform: translateY(8px);
      font-weight: bold;
      font-size: 15px;

      .toolbar_icons {
        -ms-transform: scale(1.4); /* IE 9 */
        -webkit-transform: scale(1.4); /* Safari */
        transform: scale(1.4);
      }
    }

    &:focus{
      outline:0;
    }

  }


  .toolbar_icons {
    margin-right: 10px;
    transition: transform .6s ease;
  }

  .is-active {
      background-color: $brand-secondary;
      color: $dirty-white;
      box-shadow: 0 14px 5px -10px rgba($black, 0.4);
      transform: translateY(8px);
      font-weight: bold;
      font-size: 15px;

      .toolbar_icons {
        -ms-transform: scale(1.4); /* IE 9 */
        -webkit-transform: scale(1.4); /* Safari */
        transform: scale(1.4);
      }
  }
}
