<p> Pricelist component</p>
<div class="select-wrapper">
  <md-select [(ngModel)]="selectedValue" (ngModelChange)="currencyChange($event)">
    <md-option *ngFor="let currency of currencyList" value="{{currency}}">{{currency}}</md-option>
  </md-select>
</div>
<div class="pricelist-wrapper" *ngIf="priceList">
  <div class="pricelist">
    <div class="pricelist-element" *ngFor="let monthPr of generateArray(priceList[0].monthlyPrice, course)">
      <div class="pricelist-elements-container">
        <div class="pricelist-circle">{{monthPr.key}}</div>
        <div class="pricelist-text">{{monthPr.value | myCurrencyPipe:defaultCurrency}}</div>
      </div>
    </div>
  </div>
</div>


