<div *ngIf="moneyContent">
  <h3>{{moneyContent[0].header}}</h3>
  <p>{{moneyContent[0].content}}</p>

  <div *ngIf="defaultCurrencyValue" class="currency_container">
    <h4 *ngIf="language === 'eng'">Currency List</h4>
    <div class="currency_card">
      <div class="currency_symbol_container">
        <span class="currency_symbol">€</span>
      </div>
      <div class="currency_text">
        <p> ~ {{kunaBaseList['EUR'] | number:'1.2-2'}} Kuna</p>
      </div>
    </div>
    <div class="currency_card">
      <div class="currency_symbol_container">
        <span class="currency_symbol">£</span>
      </div>
      <div class="currency_text">
        <p> ~ {{kunaBaseList['GBP'] | number:'1.2-2'}} Kuna</p>
      </div>
    </div>
    <div class="currency_card">
      <div class="currency_symbol_container">
        <span class="currency_symbol">$</span>
      </div>
      <div class="currency_text">
        <p> ~ {{kunaBaseList['USD'] | number:'1.2-2'}} Kuna</p>
      </div>
    </div>
    <p class="small_italic">{{moneyContent[0].note}}
      <a href="https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html" target="_blank">
        {{moneyContent[0].ECB}}
      </a>
    </p>
    <div *ngIf="language === 'eng'">
      <h4>Cards Usage</h4>
      <div class="currency_card">
        <div class="cards_usage_symbol_container">
          <span class="currency_symbol material-icons">payment</span>
        </div>
        <div class="currency_text">
          <p>MasterCard and Visa are widely accepted, Diner’s Club, American Express, Android and Apple Pay can be utilized, as well.</p>
        </div>
      </div>
    </div>
  </div>
</div>
