<!--TODO: add content-->

<div class="content" *ngIf="markers">
  <agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    <agm-marker *ngFor="let marker of markers"
                [latitude]="marker.latitude"
                [longitude]="marker.longitude"
                [label]="marker.label">
    </agm-marker>
  </agm-map>
</div>
<div *ngFor="let marker of markers">
  <p>Long:{{marker.longitude}}  Lat:  {{marker.latitude}}</p>
</div>

