
<!--<div class="calendar" >  -->
  <!--<div *ngFor="let day of fullGrid; let i=index">-->
    <!--<div *ngIf="i % 7 === 0">-->
      <!--<span>{{i}} ++++++ {{day}}</span>-->
    <!--</div>-->
    <!--<div *ngIf="i % 7 !== 0">-->
      <!--<span>{{i}} -&#45;&#45; {{day}}</span>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="container">
  <div class="flex-group">
    <div class="flex-group-item header-element" *ngFor="let weekDay of days">
      <p>{{weekDay}}</p>
    </div>
    <div class="flex-group-item" *ngFor="let day of fullGrid; let i=index">
        <p>{{i}} ++++++ </p>
      <span class="month-day">{{day}}</span>
      </div>
  </div>
</div>
