
<div class="container">
  <div *ngIf="componentLoading" class="loading">
    <div>
      <div class="c1"></div>
      <div class="c2"></div>
      <div class="c3"></div>
      <div class="c4"></div>
    </div>
    <span>loading ...</span>
  </div>
  <div class="head-wrapper">
    <div class="buttons-wrapper">
      <button class="calendar-button-left" (click)="getPreviousMonth()">Prev</button>
      <button class="calendar-button-right" (click)="getNextMonth()">Next</button>
      <button class="calendar-button" (click)="getToday()">Today</button>
    </div>
    <div class="current-month">
      <p>{{moment(currentMonth).format('MMMM YYYY')}}</p>
    </div>
  </div>
  <div class="flex-group">
    <div class="flex-group-item header-element" *ngFor="let weekDay of days">
      <p>{{weekDay}}</p>
    </div>
    <div class="flex-group-item" *ngFor="let day of fullGrid; let i=index;">
      <span [class]="classGrid[i]" (click)="calendarElementTrigger($event)"></span>
      <span class="month-day" >{{day}}</span>
    </div>
  </div>
</div>
