
<p>{{numberOfDays}}</p>
<div class="calendar" >
  <!--<div class="column" *ngFor="let sausage of monthsArray">-->
    <!--<div class="cell" *ngFor="let day of sausage.daysArray; let index = index">-->
      <!--&lt;!&ndash;{{index + 1}}&ndash;&gt;-->
      <!--{{moment(year + "-" + sausage.month + "-" + (index + 1), "YYYY-MM-DD").format("D ddd")}}-->
      <!--<div *ngIf='moment(year + "-" + sausage.month + "-" + (index + 1), "YYYY-MM-DD").format("d")'></div>-->
      <!--&lt;!&ndash;{{year + "-" + sausage.month + "-" + (index + 1)}}&ndash;&gt;-->
  <!--</div>-->
  <div *ngFor="let day of fullGrid; let i=index">
    <div *ngIf="i % 7 === 0">
      <span>{{i}} ++++++ {{day}}</span>
    </div>
    <div *ngIf="i % 7 !== 0">
      <span>{{i}} --- {{day}}</span>
    </div>

  </div>
</div>
