<!--TODO: add content-->

<!--<p>Apartment 2 components works! (Lav)</p>-->
<!--<button [routerLink]="['pricelist']" class="button type1">Pricelist</button>-->
<!--<button [routerLink]="['facilities']" class="button type1">Facilities</button>-->
<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="push">
    <md-toolbar>
      <span>First Row</span>
      <md-toolbar-row>
        <span>Second Row</span>
      </md-toolbar-row>
      <md-toolbar-row>
        <span>Third Row</span>
      </md-toolbar-row>
    </md-toolbar>
  </md-sidenav>
<!--</md-sidenav-container>-->
<!--<md-sidenav-container>-->
  <!--<md-sidenav #sidenav>-->
    <!--<ul>-->
      <!--<li *ngFor="let links of _navigation" [routerLink]="[links.linkPath]">-->
        <!--{{links.linkName}}-->
      <!--</li>-->
    <!--</ul>-->
  <!--</md-sidenav>-->
  <md-toolbar color="primary">
    <button md-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
  </md-toolbar>
</md-sidenav-container>
