<!--TODO: add content-->

<p>Apartment 2 components works! (Lav)</p>
<button [routerLink]="['pricelist']" class="button type1">Pricelist</button>
<button [routerLink]="['facilities']" class="button type1">Facilities</button>

<!--<ul>-->
  <!--<li ngClass="{{elements.linkPath}}" *ngFor="let elements of glavnaNavigacija" [routerLink]="'/apartments/'+[elements.linkPath]" routerLinkActive="active">-->
    <!--{{elements.linkName}}-->
  <!--</li>-->
<!--</ul>-->
<!--<p>Lorem</p>-->
<!--<ul>-->
  <!--<li *ngFor="let apLink of apLinks" [routerLink]="'/'+[apLink.linkPath]">{{apLink.linkName}}</li>-->
<!--</ul>-->
