.location_details {
  padding: 0;
  margin: 0;

  .location_icon {
    font-size: $font-size-base;
  }
}

.apartment_description {
  text-align: justify;
  margin: 1em 0; //
}

/* Overwrite app-button-- margines */
.apartment_availability {
  margin: 0 !important;
}

.apartment_details_hr {
  margin-top: 1em;
}

.apartment_name {
  margin-bottom: 0;
}

.nearby_places_container {
  margin: 1em 0;

  .nearby_place_card {
    display: inline-block;
    padding: .5em;
    margin: .8em .5em;
    min-height: 40px;
    background-color: $white;
    border-radius: .3em;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);

    .nearby_icon_container {
      margin-top: -1.2em;
      line-height: 56px;
      width: 56px;
      height: 56px;
      float: left;
      text-align: center;
      background-color: $brand-primary-lighter;
      box-shadow: 1px 2px 4px rgba($black, .5);
      border-radius: .3em;

      .nearby_icon {
        color: $dirty-white !important;
        font-size: $font-size-base * 2.6;
        line-height: inherit;
      }
    }

    .nearby_icon_name {
      display: inline-block;
      float: left;
      padding: .5em;
      font-style: italic;
    }

    .nearby_distance {
      font-family: Arial, Helvetica, sans-serif;
      border-top: 1px solid $gray-lighter;
      display: inline-block;
      position: relative;
      width: 100%;
      text-align: right;
      margin-top: .5em;
      line-height: $font-size-base * 1.8;
      font-size: $font-size-base;
      vertical-align: bottom;
      color: $gray-dark;
    }
  }
}

.facilities_container {
  margin: 1em 0;

  .facilities_card {
    display: inline-block;
    padding: .5em;
    margin: .8em .5em;
    min-height: 40px;
    background-color: $white;
    border-radius: .3em;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);

    .facilities_icon_container {
      margin-top: -1.2em;
      line-height: 56px;
      width: 56px;
      height: 56px;
      float: left;
      text-align: center;
      background-color: $brand-success;
      box-shadow: 1px 2px 4px rgba($black, .5);
      border-radius: .3em;

      .facilities_icon {
        color: $dirty-white !important;
        font-size: $font-size-base * 2.6;
        line-height: inherit;
      }
    }

    .red_container {
      background-color: $brand-danger;
    }

    .facilities_icon_name {
      display: inline-block;
      float: left;
      padding: .5em;
      font-style: italic;
    }
  }

}

.inquiries_container {
  margin: 1em 0;

  .contact_us {
    text-decoration: underline;
    cursor: pointer;
  }

  a {
    color: $brand-primary-darker;

    &:hover {
      color: $brand-secondary;
    }
  }
}
