// Do not delete this value
$card-footer-height: 2em;

md-card-content {
  margin-bottom: 1.5 * $card-footer-height !important;
}

.landing_page_wrapper {
  max-width: $mainWidth;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

  .landing_page_container {
    max-width: $mainWidth;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    .apartments_item {
      $marginCalc: 1em .2em;
      cursor: pointer;
      margin: $marginCalc;
      padding: 0;
      border-radius: .2em;

      img {
        width: 100%;
        min-height: 150px;
      }

      @include respond((max: 599px)) {
        margin-top: 50px !important;
        border-top: solid 2px $brand-primary;
        img {
          height: 180px;
          width: 180px;
          border-radius: 50%;
          margin: -40px auto 0;
          border: solid 3px $brand-primary;
          display: block;
        }
      }
    }

    .apartment_name {
      font-family: 'Marck Script', cursive;
      font-weight: $font-weight-base;
      font-size: 2 * $font-size-base;
      text-align: center;
      margin-top: .4em;
      margin-bottom: 0;
    }

    .apartment_slogan {
      font-family: 'Marck Script', cursive;
      font-weight: lighter;
      font-size: 1.3 * $font-size-base;
      text-align: center;
      margin-top: 0;
    }

    .apartment_card_footer {

      border-top: solid 1px $dirty-white;
      padding: .3em;
      text-align: center;
      color: $brand-primary;

      .find_out {
        float: left;
        font-size: $font-size-base;
        text-transform: uppercase;
        font-weight: bold;
        padding: .4em;
      }
    }
  }

  .apartments_item {
    position: relative;

    @include respond((max: 599px)) {
      width: calc(100% - 2em);
    }

    @include respond((min: 600px, max: 959px)) {
      width: calc(50% - .5em);
    }

    @include respond((min: 960px)){
      width: calc(25% - .5em);
    }
  }
}
