// Colors
$brand-primary: #7e69b4;
$brand-secondary: #f3cb51;
$brand-success: #4cd964;
$brand-warning: #fc0;
$brand-danger: #ff3b30;
$brand-info: #34aadc;

// Primary brand accents
$brand-primary-lighter: #8770C1;
$brand-primary-lightest: #A191C8;
$brand-primary-darker: #534574;
$brand-primary-darkest: #261F34;

$white: #ffffff;
$dirty-white: #f5f5f5;
$grayish: #fafafa;
$black: #000000;
$gray-base: #676767;
$gray-darker: #676767;
$gray-dark: #8b8d8d;
$gray: #cccccc;
$gray-light: #efefee;
$gray-lighter: #eeeeee;
$gray-lightest: #f9f6f6;

$brand-facebook: #3764a3;
$brand-google: #dc4938;
$brand-twitter: #588eca;

// Layout
$mainWidth: 900px;

// Typography
$font-size-base:   14px !default;
$font-weight-base: 300;


// Media
$imagesPath : "/media/images";
