<nav role='navigation' class="tabs_wrapper">
  <ul id="main-nav-list">
    <li class="tabs">
      <a href="#">
        <div>
          Lorem Ipsum
        </div>
      </a>
    </li>
    <li class="tabs">
      <a href="#">
        <div>
          LoremIp
        </div>
      </a>
    </li>
    <li class="tabs">
      <a href="#">
        <div>
          Lorem Ip
        </div>
      </a>
    </li>
    <li class="tabs">
      <a href="#">
        <div>
          Lorem Ip
        </div>
      </a>
    </li>
  </ul>
</nav>
