<div class="page_wrapper">
  <div class="main_wrapper">
    <div class="side_nav" [ngClass]="{'menu_open': menuOpen}">
      <img class="side_logo" src="{{globalLogoPath}}" [routerLink]="['welcome']">
      <div class="languages_sidebar">
        <app-lang></app-lang>
      </div>
      <ul class="navigation">
        <li *ngFor="let links of navigationList" routerLinkActive="is-active" [routerLink]="[links.linkPath]" class="navigation_elements">
          <i class="material-icons element_icons">{{links.linkIcon}}</i><a> {{links.linkName}}</a></li>
      </ul>

    </div>
    <div id="main" [ngClass]="{'menu_open': menuOpen}">
      <div class="top_wrapper">
        <div class="hamburger hamburger--spring" (click)="toggleMenu()" [ngClass]="{'is-active': hamburgerOpen}">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
        <app-logo class="logo_wrapper"></app-logo>
        <div class="languages_container">
          <app-lang></app-lang>
        </div>
      </div>
      <div class="content_wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-footer class="footer"></app-footer>
</div>
