<div class="data-power_container">
  <h4>Power Sockets</h4>
  <div class="data-power_card">
    <div class="data-power_container">
      <i class="material-icons data-power_symbol">power</i>
    </div>
    <div class="data-power_text">
      <p>In Croatia the power sockets are type C and F. The standard voltage is 230v, and the standard frequency is 50 Hz.</p>
    </div>
  </div>
  <h4>Mobile Data & Roaming</h4>
  <div class="data-power_card">
    <div class="data_container">
      <i class="material-icons data_symbol">sim_card</i>
    </div>
    <div class="data-power_text">
      <p>Since June 2017 there are no roaming charges for EU carriers within the European Union. For non-EU carriers please check roaming charges with your service provider.</p>
    </div>
  </div>
</div>


