<h3>Interesting</h3>
<div class="interesting_facts_container" *ngIf="duFactsInterestingContent">
  <div class="active_quote_container" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
    <div class="quote_header">
      <h3>{{duFactsInterestingContent[activeFactIndex].header}}</h3>
    </div>
    <p>{{duFactsInterestingContent[activeFactIndex].content}}</p>
  </div>
  <div class="quotes_list_container">
    <ul class="dot_list">
      <ng-template ngFor let-image [ngForOf]="duFactsInterestingContent" let-i="index">
        <li class="dot" [id]="'dot-'+ i" (click)="factSelected(i)" [ngClass]="{'active': activeFactIndex === i}"></li>
      </ng-template>
    </ul>
  </div>
</div>
