<!--TODO: add content-->

<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="push" class="sidenav">
    <md-toolbar class="toolbar">
      <md-toolbar-row *ngFor="let links of _navigation" [routerLink]="[links.linkPath]" class="toolbar_elements">
        <i class="material-icons toolbar_icons">{{links.linkIcon}}</i><span>{{links.linkName}}</span>
      </md-toolbar-row>
    </md-toolbar>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
  </md-toolbar>
  <div class="content_wrapper">
    <p>Apartment 3 components works! (O-P)</p>
  </div>
</md-sidenav-container>
