GALLERY IMAGE COMPONENT WORKS
<div class="gallery_container">
  <div class="gallery_active_image">
    <!--Active image goes here-->
    <span class="gallery_chevron_left"></span>
    <span class="gallery_chevron_right"></span>
  </div>
  <div class="gallery_images_list">
    <ul class="dot_list">
    <ng-template ngFor let-image [ngForOf]="imagesArray" let-i="index">
      <li class="dot" (click)="imageSelected(i)"></li>
      <!--<img [src]="'data:image/jpg;base64,'+ image">-->
    </ng-template>
    </ul>
  </div>
</div>
