<!--TODO: add content-->

<app-tabs-nav></app-tabs-nav>
<div class="content" *ngIf="contactUsContent">
  <h2>{{contactUsContent[0].header}}</h2>
  <p>{{contactUsContent[0].content}}</p>
  <hr />
  <app-contact-form></app-contact-form>
  <hr />
  <h3>Check availability</h3>
  <div class="select-wrapper">
    <md-select [(ngModel)]="apartmentSelected"
               (ngModelChange)="apartmentSelect($event)"
               placeholder="Select Apartment">
      <md-option *ngFor="let apartment of apartmentsData" value="{{apartment.bookingLink}}">{{apartment.apartmentName}}
      </md-option>
    </md-select>
  </div>
  <div class="options" *ngIf="optionSelected">
    <a [href]="apartmentURL" target="_blank">Booking Link</a>
  </div>
</div>
