<div class="test">
  <div id="cube">
    <div class="text_container">
      <h1>4-Oh-4</h1>
      <p>Oh, it seems like you've requested page which isn't there anymore. </p>
      <div id="container">
        <p><span class="rotator-text">Or you just wanted to admire this &nbsp;</span>
          <span class="rotator --six">
            <span class="rotator-container">
              <span class="rotator-item">jaw dropping</span>
              <span class="rotator-item">marvelous</span>
              <span class="rotator-item">breathtaking</span>
              <span class="rotator-item">stunning</span>
              <span class="rotator-item">exceptional</span>
              <span class="rotator-item">eye catching</span>
              <span class="rotator-item">jaw dropping</span>
            </span>
          </span>
          <span class="rotator-text">image.</span>
        </p>
      </div>
      <p class="navigate_back" (click)="navigateBack()">Press here to go back home</p>
    </div>
  </div>
</div>


