<div class="test">
  <div id="cube">
    <div class="text_container">
      <h1>4-Oh-4</h1>
      <p>Oh, it seems like you've requested page which isn't there anymore. </p>
      <div id="container">
        <p><span class="rotator-text">Or you just wanted to admire this</span>
          <span class="rotator --six">
            <div class="rotator-container">
              <div class="rotator-item">jaw dropping</div>
              <div class="rotator-item">marvelous</div>
              <div class="rotator-item">breathtaking</div>
              <div class="rotator-item">stunning</div>
              <div class="rotator-item">exceptional</div>
              <div class="rotator-item">eye catching</div>
              <div class="rotator-item">jaw dropping</div>
            </div>
          </span>
          <span class="rotator-text">image.</span>
        </p>
      </div>
      <p class="navigate_back" (click)="navigateBack()">Press here to go back home</p>
    </div>
  </div>
</div>


