<!--TODO: add content-->

<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="push">
    <md-toolbar>
      <span>First Row</span>
      <md-toolbar-row>
        <span>Second Row</span>
      </md-toolbar-row>
      <md-toolbar-row>
        <span>Third Row</span>
      </md-toolbar-row>
    </md-toolbar>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
  </md-toolbar>
  <p>Dubrovnuk Facts works!</p>
</md-sidenav-container>
