<!--TODO: add content-->

<!--<md-card class="landing_page_wrapper">-->
  <!--<p>-->
    <!--landing-page works!-->
  <!--</p>-->

  <!--<button [routerLink]="['/love-and-hope']" class="button type1">Love & Hope</button>-->
  <!--<button [routerLink]="['/lavanda']" class="button type1">Lavanda</button>-->
  <!--<button [routerLink]="['/old-port']" class="button type1">Old Port</button>-->
  <!--<button [routerLink]="['/old-town']" class="button type1">Old Town</button>-->
  <!--<button [routerLink]="['/apartments/']" class="button type1">General</button>-->
<!--</md-card>-->

<div class="landing_page_wrapper">
  <p>Lorem ipsum dolor sit amet</p>
  <div class="landing_page_container">

    <md-card class="apartments_item mat-card" [routerLink]="['/love-and-hope']">
      <md-card-content>
        <img src="{{_globalImagePath}}ap_LandH.jpg">
        <h2 class="apartment_name">Love & Hope</h2>
        <h3 class="apartment_slogan">Slogan goes here</h3>
        <p>Lorem Ipsum</p>
      </md-card-content>
      <md-card-footer class="apartment_card_footer">
        <a class="find_out">Find Out More</a>
      </md-card-footer>
    </md-card>
    <md-card class="apartments_item mat-card" [routerLink]="['/lavanda']">
      <md-card-content>
        <img src="{{_globalImagePath}}ap_lavanda.jpg">
        <h2 class="apartment_name">Lavanda</h2>
        <h3 class="apartment_slogan">Slogan goes here</h3>
        <p>Lorem Ipsum</p>
      </md-card-content>
      <md-card-footer class="apartment_card_footer">
        <a class="find_out">Find Out More</a>
      </md-card-footer>
    </md-card>
    <md-card class="apartments_item mat-card" [routerLink]="['/old-port']">
      <md-card-content>
        <img src="{{_globalImagePath}}ap_old_port.jpg">
        <h2 class="apartment_name">Old Port</h2>
        <h3 class="apartment_slogan">Slogan goes here</h3>
        <p>Lorem Ipsum</p>
      </md-card-content>
      <md-card-footer class="apartment_card_footer">
        <a class="find_out">Find Out More</a>
      </md-card-footer>
    </md-card>
    <md-card class="apartments_item mat-card" [routerLink]="['/old-town']">
      <md-card-content>
        <img src="{{_globalImagePath}}ap_old_town.jpg">
        <h2 class="apartment_name">Old Town</h2>
        <h3 class="apartment_slogan">Slogan goes here</h3>
        <p>Lorem Ipsum</p>
      </md-card-content>
      <md-card-footer class="apartment_card_footer">
        <a class="find_out">Find Out More</a>
      </md-card-footer>
    </md-card>
  </div>
  <p>Lorem ipsum dolor sit amet <a [routerLink]="['/apartments/']"> More</a></p>
</div>
