<!--TODO: add content-->

<!--<md-card class="landing_page_wrapper">-->
  <!--<p>-->
    <!--landing-page works!-->
  <!--</p>-->

  <!--<button [routerLink]="['/love-and-hope']" class="button type1">Love & Hope</button>-->
  <!--<button [routerLink]="['/lavanda']" class="button type1">Lavanda</button>-->
  <!--<button [routerLink]="['/old-port']" class="button type1">Old Port</button>-->
  <!--<button [routerLink]="['/old-town']" class="button type1">Old Town</button>-->
  <!--<button [routerLink]="['/apartments/']" class="button type1">General</button>-->
<!--</md-card>-->

<div class="landing_page_wrapper">
  <div class="landing_page_container"  fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap.xs="0.5em">
    <md-card class="apartments_item"  fxFlex.xs="100" [routerLink]="['/love-and-hope']">
      <img src="{{_globalImagePath}}ap_LandH.jpg">
      <h2 class="mdl-card__title-text">Welcome</h2>
      <p>Lorem Ipsum</p>
    </md-card>
    <md-card class="apartments_item" fxFlex.xs="100" [routerLink]="['/lavanda']">
      <p>Lorem Ipsum</p>
    </md-card>
    <md-card class="apartments_item" fxFlex.xs="100" [routerLink]="['/old-port']">
      <p>Lorem Ipsum</p>
    </md-card>
    <md-card class="apartments_item" fxFlex.xs="100" [routerLink]="['/old-town']">
      <p>Lorem Ipsum</p>
    </md-card>
  </div>
</div>
