<!--TODO: add content-->

<app-tabs-nav></app-tabs-nav>
<div class="content">
  <div *ngIf="aboutUsContent">
    <h2>{{aboutUsContent[0].header}}</h2>
    <p>{{aboutUsContent[0].content}}</p>
  </div>
  <div class="our_cards">
    <div class="card">
      <div class="card_container">
          <img src="http://via.placeholder.com/400x400">
        <div class="card_content">
          <div class="corner_element"></div>
          <h3>User Name</h3>
          <p>lalalal</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card_container">
        <img src="http://via.placeholder.com/400x400">
        <div class="card_content">
          <div class="corner_element"></div>
          <p>lalalal</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card_container">
        <img src="http://via.placeholder.com/400x400">
        <div class="card_content">
          <div class="corner_element"></div>
          <p>lalalal</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card_container">
        <img src="http://via.placeholder.com/400x400">
        <div class="card_content">
          <div class="corner_element"></div>
          <p>lalalal</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card_container">
        <img src="http://via.placeholder.com/400x400">
        <div class="card_content">
          <div class="corner_element"></div>
          <p>lalalal</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card_container">
        <img src="http://via.placeholder.com/400x400">
        <div class="card_content">
          <div class="corner_element"></div>
          <p>lalalal</p>
        </div>
      </div>
    </div>
  </div>
</div>

