<!--TODO: add content-->

<div class="content">
  <h2>Parametrized route activated</h2>
  <div *ngIf="apartmentData">
    <h2 class="apartment_name">Apartment {{apartmentData[0].apartmentName}}</h2>
    <p class="location_details"><i class="material-icons location_icon">place</i>{{apartmentData[0].address}}</p>
    <p>{{apartmentData[0].apartmentDescription}}</p>
    <a class="app-button--" [href]="apartmentData[0].bookingLink" [target]="_blank">
      Check Availability
      <i class="material-icons left">event_note</i>
    </a>
  </div>
  <p>{{apartmentName}}</p>
</div>
