<div class="content">
  <div *ngIf="apartmentsData">
    <h2 class="apartment_name">Apartment {{apartmentsData.name}}</h2>
    <p class="location_details"><i class="material-icons location_icon">place</i>{{apartmentsData.address}}</p>
    <app-gallery-list [apartmentShortName]="apartmentName"></app-gallery-list>
    <div class="apartment_description" [innerHTML]="apartmentsData.description"></div>
    <div *ngIf="language === 'eng'; then minEng else minCro"></div>
    <ng-template #minEng>
      <p>Minimum stay: {{apartmentsData.minStay}} Nights</p>
    </ng-template>
    <ng-template #minCro>
      <p>Minimalan broj nocenja: {{apartmentsData.minStay}}</p>
    </ng-template>
    <div class="warning_block" *ngIf="displayWarning">
      <p class="warning_message">Note: {{apartmentsData.note}}</p>
      <i class="material-icons dismiss_icon" (click)="closeBlock($event)">close</i>
    </div>
<!--    TODO: add pricelist -->
<!--    <hr class="apartment_details_hr"/>-->
<!--    <div class="pricelist_container">-->
<!--      <app-pricelist></app-pricelist>-->
<!--    </div>-->
    <hr class="apartment_details_hr"/>
    <div class="facilities_container">
      <h3>Facilities</h3>
      <div *ngFor="let facility of generateArray(apartmentsData.facilities)" class="facilities_card">
        <div class="facilities_icon_container" [ngClass]="{'red_container': facility.key === 'smoke_free'}">
          <i class="material-icons facilities_icon">{{facility.key}}</i>
        </div>
        <div class="facilities_icon_name">
          <span>{{facility.value }}</span>
        </div>
      </div>
    </div>
    <hr class="apartment_details_hr"/>
    <div *ngIf="nearbyPlaces" class="nearby_places_container">
      <h3>Nearby Places</h3>
      <div *ngFor="let place of nearbyPlaces" class="nearby_place_card">
        <div *ngIf="language === 'eng'; then english else croatian"></div>
          <ng-template #english>
            <div class="nearby_icon_container">
              <i class="material-icons nearby_icon">{{place.icon}}</i>
            </div>
            <div class="nearby_icon_name">
              <span>{{place.placeName}}</span>
            </div>
            <div class="nearby_distance">
              <span>{{place.distance | distancePipe}}</span>
            </div>
          </ng-template>
        <ng-template #croatian>
          <div class="nearby_icon_container">
            <i class="material-icons nearby_icon">{{place.icon}}</i>
          </div>
          <div class="nearby_icon_name">
            <span>{{place.imeLokacije}}</span>
          </div>
          <div class="nearby_distance">
            <span>{{place.distance | distancePipe}}</span>
          </div>
        </ng-template>
      </div>
    </div>
    <hr class="apartment_details_hr"/>
    <div class="inquiries_container">
      <div *ngIf="language === 'eng'; then inqEng else inqCro"></div>
      <ng-template #inqEng>
        <h3>Have inquiry?</h3>
        <p>
          <a (click)="goToContactPage()" class="contact_us">Contact Us</a>
        </p>
      </ng-template>
      <ng-template #inqCro>
        <h3>Imate upit?</h3>
        <p>
          <a (click)="goToContactPage()" class="contact_us">Kontaktirajte nas</a>
        </p>
      </ng-template>
    </div>
  </div>
</div>
