<!--TODO: add content-->

<div class="content">
  <h2>Parametrized route activated</h2>
  <div *ngIf="apartmentData">
    <h2 class="apartment_name">Apartment {{apartmentData[0].apartmentName}}</h2>
    <p class="location_details"><i class="material-icons location_icon">place</i>{{apartmentData[0].address}}</p>
    <p>{{apartmentData[0].apartmentDescription}}</p>
    <a class="app-button-- apartment_availability" [href]="apartmentData[0].bookingLink" [target]="_blank">
      Check Availability
      <i class="material-icons left">event_note</i>
    </a>
    <div class="warning_block" *ngIf="displayWarning">
      <p class="warning_message">Note: {{apartmentData[0].note}}</p>
      <i class="material-icons dismiss_icon" (click)="closeBlock($event)">close</i>
    </div>
    <hr class="apartment_details_hr"/>
    <div class="facilities_container">
      <h3>Facilities</h3>
      <div *ngFor="let facility of generateArray(apartmentData[0].facilities)" class="facilities_card">
        <div class="facilities_icon_container">
          <i class="material-icons facilities_icon">{{facility.value}}</i>
        </div>
        <div class="facilities_icon_name">
          <span>{{facility.key | wordBreakPipe}}</span>
        </div>
      </div>
    </div>
    <hr class="apartment_details_hr"/>
    <div *ngIf="nearbyPlacesData" class="nearby_places_container">
      <h3>Nearby Places</h3>
      <div *ngFor="let place of nearbyPlacesData" class="nearby_place_card">
        <div *ngIf="language === 'eng'; then english else croatian"></div>
          <ng-template #english>
            <div class="nearby_icon_container">
              <i class="material-icons nearby_icon">{{place.icon}}</i>
            </div>
            <div class="nearby_icon_name">
              <span>{{place.placeName}}</span>
            </div>
            <div class="nearby_distance">
              <span>{{place.distance | distancePipe}}</span>
            </div>
          </ng-template>
        <ng-template #croatian>
          <div class="nearby_icon_container">
            <i class="material-icons nearby_icon">{{place.icon}}</i>
          </div>
          <div class="nearby_icon_name">
            <span>{{place.imeLokacije}}</span>
          </div>
          <div class="nearby_distance">
            <span>{{place.distance | distancePipe}}</span>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
