<!-- TODO: style navigation add collapse on apartments list -->
<md-sidenav-container class="example-container">
  <md-sidenav mode="push" #sidenav class="example-sidenav">
    <ul>
      <li ngClass="{{link.linkPath}}" *ngFor="let link of glavnaNavigacija" [routerLink]="[link.linkPath]" routerLinkActive="active">
        {{link.linkName}}
      </li>
    </ul>
    <ul>
      <li> Apartments
        <ul>
          <li *ngFor="let apLink of glavnaNavigacija" [routerLink]="'/'+[apLink.linkPath]">{{apLink.linkName}}</li>
        </ul>
      </li>
    </ul>
  </md-sidenav>

  <div class="example-sidenav-content">

    <button md-button (click)="sidenav.open()">
      Open sidenav
    </button>
    <ul>
      <li ngClass="{{elements.linkPath}}" *ngFor="let elements of glavnaNavigacija" [routerLink]="[elements.linkPath]" routerLinkActive="active">
        {{elements.linkName}}
      </li>
    </ul>
  </div>

</md-sidenav-container>



