<div class="visa_container">
  <h4>Visa Requirements</h4>
  <div class="visa_card">
    <div class="visa_container">
      <i class="material-icons visa_symbol">picture_in_picture</i>
    </div>
    <div class="visa_text">
      <p>Croatia became a member of the European Union on July 1, 2013 and the Croatian visa policy became fully compliant with the European Union’s.</p>
      <p>Please note if you are traveling to neighbour countries (Bosnia & Herzegovina, Montenegro) passport is required.</p>
    </div>
  </div>
</div>


