<!--TODO: add content-->

<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="push" class="sidenav">
    <md-toolbar class="toolbar">
      <md-toolbar-row [routerLink]="'../../'" class="toolbar_elements">
        <i class="material-icons toolbar_icons">home</i><span>Home</span>
      </md-toolbar-row>
      <md-toolbar-row [routerLink]="" class="toolbar_elements">
        <i class="material-icons toolbar_icons">list</i><span>Facilities</span>
      </md-toolbar-row>
      <md-toolbar-row [routerLink]="'../../apartments/location'" class="toolbar_elements">
        <i class="material-icons toolbar_icons">place</i><span>Location</span>
      </md-toolbar-row>
      <md-toolbar-row [routerLink]="'../../apartments/policy'" class="toolbar_elements">
        <i class="material-icons toolbar_icons">content_paste</i><span>Policy</span>
      </md-toolbar-row>
      <md-toolbar-row [routerLink]="'../pricelist'" class="toolbar_elements is-active">
        <i class="material-icons toolbar_icons">local_atm</i><span>Price List</span>
      </md-toolbar-row>
      <md-toolbar-row class="toolbar_elements" (click)="goBack()">
        <i class="material-icons toolbar_icons">undo</i><span>Back</span>
      </md-toolbar-row>
    </md-toolbar>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
  </md-toolbar>
  <div class="content_wrapper">
    <p>Old Town pricelist works! (O-T)</p>
  </div>
</md-sidenav-container>

